@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), system-ui, sans-serif;
}
